$valorFull:100%;
$centerBox: 0 auto;
$black: #000;
$white:#fff;
$gray: #333;
$fontFamily: "Lexend", Arial, Helvetica, sans-serif;

@mixin flexbox($spacing,$direction){
    display: flex;
    justify-content: $spacing;
    flex-direction: $direction;
    align-items: center;
}

@mixin centering{
    align-items: center;
    margin: $centerBox;
}

%center{
    align-items: center;
    text-align: center;
}


%bodyBasic{
    width: 98%;
    color: $black;
    font-family: $fontFamily;
    @include centering;
}

%borderSizing{
    box-sizing: border-box;
}