
.header{

    .header__icon{
        width: 50px;
        vertical-align: top;
        cursor: pointer;
        display: inline-block;
        border-radius: 20%;
        
    }
    .header__icon--carCounter{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: rgb(224, 4, 4);
        padding-right: 3px;
        color: #fff;
        position: relative;
        left: 35px;
        bottom: 47px;
    }
    .header__icon--loge{
        width: 150px;
        border-radius: $valorFull;
    }
}

.banner{
    .banner__publicity{
        width: $valorFull;
        font-weight: 600;
        font-size: 30px;
        margin: 10px;
    }
    
    .banner__description{
        width: 350px;
        @include centering;
        font-size: 25px;
        opacity: 0.7;
    }
}

.products{

    .products__item{
        @include flexbox(none,column );
        cursor: pointer;
        text-align: center;
        transition: all .25s ease-in-out;
    }
    
    .products__img{
        width: clamp(170px,200px,250px);
        height: clamp(400px,430px,450px);
        margin-bottom: 15px;
    }
    
    .products__title{
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 5px;
    }
    p{
        .products__price{
            font-weight: 300;
            font-size: 15px;
        }
        //Añadimos la el selector .red para el ejemplo de Modificar clases
        &.red{
            color: #e60101;
            font-weight: bold;
        }
        //selector de ejemplo para reemplazar clases
        &.blue{
            color: blue;
            font-weight: bold;
        }
    }
    
    .products__btn{
        border-radius: 10px;
        padding: 5px 15px;
        border-color: rgb(65, 64, 64);
        background-color: rgb(255, 255, 255);
        color: #000;
        font-weight: bold;
    }
    .products__btn:hover{
        background-color: #fff;
        color: rgb(255, 197, 91);
        border-color: rgb(255, 255, 0);
    }
}


//Menu lateral
.menu{
    &.show{
        left: 0;
        transition: all .25s ease;
    }
    &.close{
        left: -145%;
        transition: all .25s ease;
    }
    .menu__close{
        position: relative;
        left: 210px;
        bottom: 59px;
        scale: 1.3;
        cursor: pointer;
    }
    .menu__option{
        display: block;
        width: 90%;
        height: auto;
        border: 1px solid #333;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        font-size: 30px;
        cursor: pointer
    }
}


//Carrito de compras
.cart{

//Clase .show para el ejemplo de evento show
    &.show{
        right: 0;
        //mini animación
        //una transision es una animación de transicion entre una propiedad y otra, en este caso tiene un retraso de .25segundos
        transition: all .25s ease;
    }
//Clase .show para el ejemplo de evento hide
    &.close{
        right: -145%;
        transition: all .25s ease;
    }
    .cart__close{
        position: relative;
        right: 170px;
        bottom: 100px;
        scale: 1.3;
        cursor: pointer;
    }
    
    .cart__title{
        width: 100%;
        @extend %center;
        font-size: 20px;
        font-weight: 600;
        padding: 25px 0;
        @extend %borderSizing;
        }
    .cart__items{
        overflow-y: auto; /* habilitar scrolling vertical */
    }


    .cart__item{
        @include flexbox(space-between,column );
        gap: 10px;
        border-bottom: 1px solid $gray;
        @extend %center;
        padding: 15px;
        @extend %borderSizing;
    }

    .cart__img{
        width: 60px;
    }

    .cart__product{
        margin: 5px ;
    }
    .cart__price{
        font-weight: 500;
    }

    .cart__delete{
        width: 25px;
    }

    .cart__delete img{
        width: $valorFull;
        cursor: pointer;
        @include centering;
    }
    .cart__buy{
        margin-top: 10px;
        width: 60%;
        &{
            border-radius: 10px;
            padding: 5px 15px;
            border-color: transparent;
            background-color: rgb(255, 255, 0);
            font-weight: bold;
        }
        &:hover{
            background-color: #fff;
            color: rgb(255, 197, 91);
            border-color: rgb(255, 166, 2);
        }
        //Ejemplo de toggle para los eventos
        &.toggle{
            background-color: rgb(24, 194, 137);
        }
    }
}


/*
Se hace uso de la responsividad con media queries
*/

@media (max-width: 820px) {

    .header{
        .header__icon--loge{
        width: 100px;
        }

        .header__icon{
            width: 40px;
        }
        .header__icon--carCounter{
            position: relative;
            right: 20px;
        }
    }

    .products{
        .products__img{
        width: clamp(100px,150px,180px);
        height: clamp(350px,380px,420px);
        }
    }

    .menu{
        .menu__close{
            left: 190px;
            bottom: 83px;
        }
    }

    .cart{
        .cart__close{
            right: 131px;
            bottom: 102px;
        }
    }
    
}


@media (max-width: 480px){
    .banner{

        .banner__publicity{
            font-size: 24px;
        }
        .banner__description{
            font-size: 18px;
        }
    }
    
    .products{

        .products__img{
            width: clamp(70px,120px,150px);
            height: clamp(300px,330px,370px);
            margin-bottom: 10px;
        }
        .products__title,
        .products__price{
            padding: 0 10px;
        }
    }

    .menu{
        .menu__close{
            left: 190px;
            bottom: 83px;
        }
    }
    
    .cart{
        
        .cart__title{
            padding: 15px;
        }
        .cart__item{
            @include flexbox( none,column )
        }
        .cart__img{
            width: 100px;
        }
        .cart__product,.cart__price{
            @include centering;
        }
        .cart__close{
            right: 139px;
            bottom: 83px;
       }
    }
    
}

@media (max-width: 380px){
    .cart{
        .cart__close{
            right: 83px;
            bottom: 83px;
       }
    }
    .menu{
        .menu__close{
            left: 145px;
            bottom: 83px;
        }
    }
}

//Dark mode
@media (prefers-color-scheme: dark) {
    /* estilos de modo oscuro aquí */
    .products__btn{
        border-radius: 10px;
        padding: 5px 15px;
        border-color: transparent;
        background-color: rgb(109 109 109)!important;
        color: #fff!important;
        font-weight: bold;
    }
    .products__btn:hover{
        background-color: #fff;
        color: rgb(0, 0, 0)!important;
        border-color: rgb(255, 255, 255)!important;;
    }
  }