@charset "UTF-8";
.cart .cart__item, .cart .cart__title, .banner {
  align-items: center;
  text-align: center;
}

body {
  width: 98%;
  color: #000;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  align-items: center;
  margin: 0 auto;
}

.cart .cart__item, .cart .cart__title, .cart, .menu, .products, .header {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px 50px;
  background-color: #333;
}

.banner {
  width: 100%;
  padding: 90px 0;
  background-image: url(https://www.pxfuel.com/es/desktop-wallpaper-gtbvh);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.products {
  width: 80%;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 70px;
}

.menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 500Px;
  background-color: #fff;
  padding: 25px;
  height: 100%;
  position: fixed;
  left: -145%;
  top: 5px;
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  gap: 20px;
}

.cart {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 500Px;
  background-color: #fff;
  padding: 25px;
  height: 100%;
  position: fixed;
  right: -145%;
  top: 5px;
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/*
Se hace uso de la responsividad con media queries
*/
@media (max-width: 820px) {
  body {
    width: 97%;
  }
  .header {
    padding: 25px;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .menu {
    width: 465px;
  }
  .cart {
    width: 465px;
    box-shadow: none;
  }
}
@media (max-width: 480px) {
  .banner {
    padding: 60px 0;
  }
  .products {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .menu {
    width: 465px;
  }
  .cart {
    width: 465px;
    box-shadow: none;
  }
}
@media (max-width: 360px) {
  .cart {
    width: 365px;
  }
  .menu {
    width: 365px;
  }
}
@media (prefers-color-scheme: dark) {
  /* estilos de modo oscuro aquí */
  body {
    background-color: #333;
    color: #fff;
  }
  .menu {
    background-color: #777777;
    color: #fff;
    border-color: #ffffff;
    box-sizing: border-box;
  }
  .cart {
    background-color: #777777;
    color: #fff;
    border-color: #ffffff;
    box-sizing: border-box;
  }
}
.header .header__icon {
  width: 50px;
  vertical-align: top;
  cursor: pointer;
  display: inline-block;
  border-radius: 20%;
}
.header .header__icon--carCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(224, 4, 4);
  padding-right: 3px;
  color: #fff;
  position: relative;
  left: 35px;
  bottom: 47px;
}
.header .header__icon--loge {
  width: 150px;
  border-radius: 100%;
}

.banner .banner__publicity {
  width: 100%;
  font-weight: 600;
  font-size: 30px;
  margin: 10px;
}
.banner .banner__description {
  width: 350px;
  align-items: center;
  margin: 0 auto;
  font-size: 25px;
  opacity: 0.7;
}

.products .products__item {
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
  transition: all 0.25s ease-in-out;
}
.products .products__img {
  width: 200px;
  height: 430px;
  margin-bottom: 15px;
}
.products .products__title {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}
.products p .products__price {
  font-weight: 300;
  font-size: 15px;
}
.products p.red {
  color: #e60101;
  font-weight: bold;
}
.products p.blue {
  color: blue;
  font-weight: bold;
}
.products .products__btn {
  border-radius: 10px;
  padding: 5px 15px;
  border-color: rgb(65, 64, 64);
  background-color: rgb(255, 255, 255);
  color: #000;
  font-weight: bold;
}
.products .products__btn:hover {
  background-color: #fff;
  color: rgb(255, 197, 91);
  border-color: rgb(255, 255, 0);
}

.menu.show {
  left: 0;
  transition: all 0.25s ease;
}
.menu.close {
  left: -145%;
  transition: all 0.25s ease;
}
.menu .menu__close {
  position: relative;
  left: 210px;
  bottom: 59px;
  scale: 1.3;
  cursor: pointer;
}
.menu .menu__option {
  display: block;
  width: 90%;
  height: auto;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.cart.show {
  right: 0;
  transition: all 0.25s ease;
}
.cart.close {
  right: -145%;
  transition: all 0.25s ease;
}
.cart .cart__close {
  position: relative;
  right: 170px;
  bottom: 100px;
  scale: 1.3;
  cursor: pointer;
}
.cart .cart__title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 25px 0;
}
.cart .cart__items {
  overflow-y: auto; /* habilitar scrolling vertical */
}
.cart .cart__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #333;
  padding: 15px;
}
.cart .cart__img {
  width: 60px;
}
.cart .cart__product {
  margin: 5px;
}
.cart .cart__price {
  font-weight: 500;
}
.cart .cart__delete {
  width: 25px;
}
.cart .cart__delete img {
  width: 100%;
  cursor: pointer;
  align-items: center;
  margin: 0 auto;
}
.cart .cart__buy {
  margin-top: 10px;
  width: 60%;
}
.cart .cart__buy {
  border-radius: 10px;
  padding: 5px 15px;
  border-color: transparent;
  background-color: rgb(255, 255, 0);
  font-weight: bold;
}
.cart .cart__buy:hover {
  background-color: #fff;
  color: rgb(255, 197, 91);
  border-color: rgb(255, 166, 2);
}
.cart .cart__buy.toggle {
  background-color: rgb(24, 194, 137);
}

/*
Se hace uso de la responsividad con media queries
*/
@media (max-width: 820px) {
  .header .header__icon--loge {
    width: 100px;
  }
  .header .header__icon {
    width: 40px;
  }
  .header .header__icon--carCounter {
    position: relative;
    right: 20px;
  }
  .products .products__img {
    width: 150px;
    height: 380px;
  }
  .menu .menu__close {
    left: 190px;
    bottom: 83px;
  }
  .cart .cart__close {
    right: 131px;
    bottom: 102px;
  }
}
@media (max-width: 480px) {
  .banner .banner__publicity {
    font-size: 24px;
  }
  .banner .banner__description {
    font-size: 18px;
  }
  .products .products__img {
    width: 120px;
    height: 330px;
    margin-bottom: 10px;
  }
  .products .products__title,
  .products .products__price {
    padding: 0 10px;
  }
  .menu .menu__close {
    left: 190px;
    bottom: 83px;
  }
  .cart .cart__title {
    padding: 15px;
  }
  .cart .cart__item {
    display: flex;
    justify-content: none;
    flex-direction: column;
    align-items: center;
  }
  .cart .cart__img {
    width: 100px;
  }
  .cart .cart__product, .cart .cart__price {
    align-items: center;
    margin: 0 auto;
  }
  .cart .cart__close {
    right: 139px;
    bottom: 83px;
  }
}
@media (max-width: 380px) {
  .cart .cart__close {
    right: 83px;
    bottom: 83px;
  }
  .menu .menu__close {
    left: 145px;
    bottom: 83px;
  }
}
@media (prefers-color-scheme: dark) {
  /* estilos de modo oscuro aquí */
  .products__btn {
    border-radius: 10px;
    padding: 5px 15px;
    border-color: transparent;
    background-color: rgb(109, 109, 109) !important;
    color: #fff !important;
    font-weight: bold;
  }
  .products__btn:hover {
    background-color: #fff;
    color: rgb(0, 0, 0) !important;
    border-color: rgb(255, 255, 255) !important;
  }
}/*# sourceMappingURL=main.css.map */